# Backup files
.swo
.swp
.*.swp
*~
.DS_Store
*.kate-swp

# Composer & npm
/composer.lock
/node_modules
/vendor

# Tests
/phpunitHTTP404.php
/tests/perfs/results
/tests/phpunit/data/config/badsyntax.php
/tests/phpunit/data/config/badsyntax.json
/tests/phpunit/data/config/deployments.php
/tests/phpunit/data/config/empty.json
/tests/phpunit/data/config/testdeploymentsfarmversions.php
/tests/phpunit/data/mediawiki/vstub3
/tests/phpunit/data/readAnyFile/badsyntax.json
/.phpunit.result.cache

# Compiled code documentation
/docs/code
/docs/coverage

# Editors
\#*#
.#*
.project
.buildpath
.classpath
.settings
cscope.files
cscope.out
*.orig
## NetBeans
nbproject*
project.index
## Sublime
sublime-*
sftp-config.json
