# Backup files
.swo
.swp
.*.swp
*~
.DS_Store
*.kate-swp

# Composer & npm
/composer.lock
/node_modules
/vendor

# Tests
/tests/phpunit/data/config/deployments.php
/tests/phpunit/data/config/testdeploymentsfarmversions.php
/tests/perfs/results

# Compiled code documentation
/docs/code
/docs/coverage
